# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Strapi
.env
.env.*.local
.cache/
.tmp/
public/uploads/
*.db
*.sqlite
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript (якщо генеруєш типи)
types/generated/

# Logs
logs/
*.log

# Misc
coverage/
